body {
    background-image: url("sea.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.header-title {
    text-shadow: 1px 1px 0 white, 2px 2px 0 white, 3px 3px 0 grey;
}

.header-bg {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(235, 252, 255, 0.9));
}

.section-bg {
    background: rgba(255, 255, 255, 0.9);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', var(--bs-font-sans-serif);
}

.btn i.fas, .btn i.fab {
    margin-right: 0.5rem;
}

.list-inline-item {
    margin-bottom: 0.5rem;
}

.show-md {
    display: none;
}
.hide-md {
    display: block;
}

@media (min-width: 768px) {
    .show-md {
        display: block;
    }
    .hide-md {
        display: none;
    }
}

.big-icon {
    font-size: 3rem;
    line-height: 6rem;
    height: 9rem;
    width: 9rem;
    text-align: center;
    color: #333333;
    background: rgba(255, 255, 255, 0.8);
}
